/adelie/
/beetbug/
/bicycle/
/catclock/
/cccc/
/dexe/
/donsol/
/drifblim/
/left/
/nasu/
/nebu/
/niju/
/noodle/
/oquonie/
/orca-toy/
/potato/
/roms/
/tiny-basic/
/turye/
/uxn-utils/
/uxnbal/
/uxnlin/
/yufo/